<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="BINNA"
        android:supportsRtl="true"
        android:theme="@style/Theme.Binnaa"
        tools:targetApi="31">
        <activity
            android:name=".popup_filter"
            android:exported="false" />
        <activity
            android:name="com.example.binnaa.profile"
            android:exported="true" />
        <activity
            android:name="com.example.binnaa.Popup_review"
            android:exported="true" />
        <activity
            android:name=".search"
            android:exported="false" />
        <activity
            android:name="com.example.binnaa.interests"
            android:exported="false" />
        <activity
            android:name="com.example.binnaa.Home"
            android:exported="true" />
        <activity
            android:name="com.example.binnaa.intro"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.binnaa.login"
            android:exported="true" />
        <activity
            android:name="com.example.binnaa.SignUP"
            android:exported="true" />
        <activity
            android:name="com.example.binnaa.MainActivity"
            android:exported="true" />
    </application>

</manifest>